body {
    background-color: rgb(171, 178, 184);
    font: normal 15pt Arial;
    text-align: center;
    
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 25px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 18px rgba(0, 0, 0, 0.363);
}



select#flista{
    width: 150px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}